[Unit]
Description=Applock-go Application Locking Service
Documentation=https://applock-go.readthedocs.io/en/latest/
Wants=network-online.target
Requires=network-online.target
After=network-online.target
Wants=network.target
Requires=network.target
# This service should start after the network is up and running
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/etc/applock-go
ExecStart=/usr/local/bin/applock-go -c /etc/applock-go/config.toml run
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
# Give the service 3 seconds to stop gracefully before killing it
KillSignal=SIGINT
TimeoutStopSec=3

# Security hardening
CapabilityBoundingSet=CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
ProtectSystem=strict
ReadWritePaths=/etc/applock-go
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
MemoryDenyWriteExecute=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target